<app-header></app-header>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Medicines</h1>
 
  </div><!-- End Page Title -->

  <p>
    <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Add Medicines
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="ltn__checkout-single-content-info">
      <form #myform="ngForm" (ngSubmit)="myform.form.valid && submit(myform)">
          <h6>Add Medicines</h6>
          <div class="row">
              <div class="col-md-6">
                  <div class="input-item input-item-name ">
                      <input type="text" name="medicine_Name" placeholder="Medicine Name" 
                      [(ngModel)]="medicineservice.medicineData.medicine_Name">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="input-item input-item-name ">
                      <input type="text" name="medicine_Price" placeholder="Medicine Price"
                      [(ngModel)]="medicineservice.medicineData.medicine_Price">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-item input-item-name ">
                  <input type="text" name="medicine_Type" placeholder="Medicine Type" 
                  [(ngModel)]="medicineservice.medicineData.medicine_Type">
              </div>
          </div>
          </div>
          <h6>Medicine Description</h6>
          <div class="input-item input-item-textarea ltn__custom-icon">
              <textarea type="text" name="medicine_Description" required placeholder="Medicine Description."
              [(ngModel)]="medicineservice.medicineData.medicine_Description" name="Medicine_Description"
              ></textarea>
          </div>
          <button type="submit" class="btn btn-success"> Add Medicine </button>
      </form>
  </div>
  </div>

  <table class="table table-bordered mt-5" *ngIf="medcines && medcines.length > 0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Medicine</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Medicines of medcines">
        <th scope="row">{{Medicines.id}}</th>
        <td>{{Medicines.medicine_Name}}</td>
        <td>{{Medicines.medicine_Price}}</td>
        <td>{{Medicines.medicine_Description}}</td>
        <td>
          <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!medcines || medcines.length <= 0">No Medicines Found</p>
   
   

  </main><!-- End #main -->