<app-header></app-header>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>User Details</h1>
   
    </div><!-- End Page Title -->

    <table class="table table-bordered mt-5" *ngIf="contact && contact.length > 0">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">User Name</th>
          <th scope="col">User Email</th>
          <th scope="col">Subject</th>
          <th scope="col">Phone</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let contact of contact">
          <th scope="row"></th>
          <td>{{contact.id}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.subject}}</td>
          <td>{{contact.phone}}</td>
          <td>{{contact.msg}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!contact || contact.length <= 0"> user not Found</p>
   
   
   

  </main><!-- End #main -->