<app-header></app-header>
<main id="main" class="main">

  <section class="section dashboard">
  <div class="col-lg-12">
    <div class="row">

       <!-- Sales Card -->
       <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Sales</h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-cart"></i>
              </div>
              <div class="ps-3">
                <h6>145</h6>
              </div>
            </div>
          </div>

        </div>
      </div><!-- End Sales Card -->

                  <!-- Revenue Card -->
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                      <div class="card-body">
                        <h5 class="card-title">Revenue </h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                            <h6>$3,264</h6>
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div><!-- End Revenue Card -->
      
                  <!-- Customers Card -->
                  <div class="col-xxl-4 col-xl-12">
      
                    <div class="card info-card customers-card">
                      <div class="card-body">
                        <h5 class="card-title">Clients</h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                            <h6>1244</h6>
                          </div>
                        </div>
      
                      </div>
                    </div>
      
                  </div><!-- End Customers Card -->

      </div>
    </div>
  </section>


  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">TransictionID</th>
        <th scope="col">Client Name</th>
        <th scope="col">Client Transsiction</th>
        <th scope="col">Datetime</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>panadol</td>
        <td>$10</td>
        <td>for fever and headech</td>
        <td>
          <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>
   

  </main><!-- End #main -->